<div class="container">
  <h1>NOMStopia!</h1>
  <h3>Find all the <span>noms</span> of your wildest dreams!</h3>
  <a href='/login'>LOGIN</a>
  <a href='/users/new'>Sign Up</a>
</div>
<div class="restaurant">

</div>
